Django==1.7.6
django-encrypted-fields==1.1.1
pyasn1==0.1.7
pycrypto==2.6.1
python-keyczar==0.715
pytz==2014.10
wsgiref==0.1.2
djangorestframework==3.1.1
django-rest-swagger==0.2.9
django-rest-auth==0.3.0
django-allauth==0.19.1
django-cors-headers==0.11
