/* Empty. Add your own CSS if you like */
#circleButton {
	top:-35px;
	height:70px;
	width:70px;
	border-radius: 70px;
}

#circleButton:before{
	font-size: 65px;
};

.animate-enter {
	-webkit-transition: 1s linear all; /* Chrome */
	transition: 1s linear all;
	opacity: 0;
}
 
.animate-enter.animate-enter-active {
	opacity: 1;
}

input[disabled] {
	background-color: rgba(248, 248, 248, 0);
}