<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{resource.data.title}}">


  <ion-content>


<div class="card">
  <div class="item item-divider">
      <h2> <b> {{ resource.data.title }} <b> </h2>
  </div>


  <embed id="hdDiagram" width="100%" ng-if="resource.type==='dialysis'" type="image/svg+xml" src="/img/nx-stage-1.svg">

  <div class="item item-divider">
      <h2> Video </h2>
  </div>

  <video ng-if="resource.data.videos.length!==0" controls width="100%">
    <source ng-src="/img/10.mp4"  type="video/mp4">
  Your browser does not support the video tag.
  </video>

  <div class="item item-text-wrap">
      <p> {{ resource.data.description }} </p>
  </div>

  <ul class="list">

    <div class="item item-divider">
      Checklist
    </div>

    <div class="list card" ng-repeat="step in resource.data.steps track by $index" >
      <li class="item item-checkbox" >
         <label class="checkbox">
           <input type="checkbox">
         </label>
         Step {{$index+1}}: {{ step.title}} 
         <p> 
      </li>

      <div class="item item-body">
        <p>
          {{step.description}}
        </p>
      </div>
    </div>

  </ul>
</div>




  </ion-content>
</ion-view>
