<ion-view view-title="Dashboard">
    



  <ion-content class="padding">

    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>

    <div class="row">
      <div class-"col col-20">
        <img height="50" width="50" src="http://placehold.it/50x50"> </img>
      </div>
      
      <h4 class="col col-80"> Hi, {{user.info.first}} </h4>
    </div>

    <ion-list can-swipe="true">


      <div class="list card" ng-repeat="event in timeLine track by $index" >
        
        <div ng-if="event.eventType==='dialysis'">
          <div class="item item-avatar"  >
            <img src="img/dialysisIcon.svg">
            <h2>Dialysis Session</h2>
            <p ng-if="dialysisStep(event)==='preForm'"><b> Today</b> at {{getDateString(event)}}</p>
            <p ng-if="dialysisStep(event)==='sessionForm'"><b>In Progress</b> </p> 

          </div>

          <div ng-if="event.notes!==undefined"class="item item-body">
            <p>
              {{event.notes}}
            </p>
          </div>

          <div class="button-bar">
            <a ng-if="dialysisStep(event)==='preForm'" class="button button-clear button-positive" ng-click="openPreDialysisModal()"> Start Now</a>

            <a ng-if="dialysisStep(event)==='sessionForm'" class="button button-clear button-positive" ng-click="openSessionDialysisModal()"> Fill Session Form
            </a>

          </div>
        </div>

        <div ng-if="event.eventType==='form'">
          <div class="item item-avatar"  >
            <img src="img/formIcon.svg">
            <h2>You filled out your {{event.data.type}} form</h2>
            <p><b> Today</b> at {{getDateString(event)}}</p>
          </div>
        </div>


      </div>




    </ion-list>


  </ion-content>

    <ion-footer-bar align-title="right" >
      <button id="circleButton" ng-click="openEventModal()" class="button button-assertive icon-left ion-plus pull-right button-circle"></button>
    </ion-footer-bar>
  
</ion-view>


