<ion-content has-header="true">
  <div id="profile-bg"></div>
  <div id="content">
    <div id="profile-info">
      <img id="profile-image" src="http://placehold.it/100x100">
      <h3 id="profile-name">{{user.info.first}} {{user.info.last}}</h3>
      <span id="profile-description">
        {{getDateString(user.info.dob)}}
      </span>
    </div>
    <ion-list>

      <div class="item item-divider">
        Role
      </div>
      <ion-item >
        {{user.info.role.charAt(0).toUpperCase() + user.info.role.slice(1)}}
      </ion-item>

      <div class="item item-divider">
        Known Conditons
      </div>
      <ion-item ng-repeat="(k, v) in user.info.conditions">
        {{k.charAt(0).toUpperCase() + k.slice(1)}}
      </ion-item>
    </ion-list>
  </div>
</ion-content>