


  
<ion-view view-title="Stress Management" >
  <ion-content class="has-header">
<br/>
<form>
<center>
<input class="button button-assertive" type="button" value="Take me to survey" onclick="window.location.href='#/tab/stress/Questions'" />
</center>
</form>

</br>
</br>
</br>


<center>
<div id="tabs" style="width:800px;height=150px">
  <ul>
    <li><a href="#tabs-1" class="button button-calm" style="width:250px" >Daily</a></li>
    <li><a href="#tabs-2" class="button button-positive" style="width:250px">Monthly</a></li>
    <li><a href="#tabs-3" class="button button-balanced" style="width:250px">Weekly</a></li>
  </ul>
  <div id="tabs-1">
  <img src="../img/daily.jpg" />
  </div>
  <div id="tabs-2">
    <img src="../img/monthly.jpg" />
  </div>
  <div id="tabs-3">
    <img src="../img/daily.jpg" />
  </div>
</div>
</center>

</ion-content>
</ion-view>

	



