<ion-view view-title="Home">
  <ion-content>
    <ion-list>

      <ion-item class="item-toggle">
        Door locked
        <label class="toggle">
          <input type="checkbox" >
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>

      <ion-item class="item-toggle">
        Light 1
        <label class="toggle">
          <input type="checkbox" >
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>

      <ion-item class="item-toggle">
        Light 2
        <label class="toggle">
          <input type="checkbox" >
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>

      <ion-item class="item-toggle">
        Light 3
        <label class="toggle">
          <input type="checkbox" >
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>

      <ion-item class="item-toggle">
        Switch 1
        <label class="toggle">
          <input type="checkbox" >
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>



    </ion-list>
  </ion-content>
</ion-view>
