<ion-view view-title="Home">
  <ion-content>
    <ion-list>

      <div class="item item-divider">Switches</div>
      <ion-item class="item-toggle" ng-repeat="switch in switches"> {{switch.name}}
        <label class="toggle">
          <input type="checkbox" ng-model="switch.isOn" ng-change="switchToggle(switch)">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>


      <!-- Lights -->
      <div class="item item-divider">Hallway Light</div>
            <ion-item class="item-toggle"> Power
        <label class="toggle">
          <input type="checkbox">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>

      <div class="item range range-positive">
        <i class="icon ion-ios7-sunny-outline"></i>
        <input type="range" name="volume" min="0" max="100" value="43">
        <i class="icon ion-ios7-sunny"></i>
      </div>
      <label class="item item-input item-select">
        <div class="input-label">
          Color
        </div>
        <select>
          <option>Blue</option>
          <option selected>Green</option>
          <option>Red</option>
        </select>
      </label>

      <div class="item item-divider">Side Light</div>
        <ion-item class="item-toggle"> Power
        <label class="toggle">
          <input type="checkbox">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>

      <div class="item range range-positive">
        <i class="icon ion-ios7-sunny-outline"></i>
        <input type="range" name="volume" min="0" max="100" value="33">
        <i class="icon ion-ios7-sunny"></i>
      </div>
      <label class="item item-input item-select">
        <div class="input-label">
          Color
        </div>
        <select>
          <option>Blue</option>
          <option>Green</option>
          <option selected>Red</option>
        </select>
      </label>

      <div class="item item-divider">Bathroom Light</div>
      <ion-item class="item-toggle"> Power
        <label class="toggle">
          <input type="checkbox">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>
      <div class="item range range-positive">
        <i class="icon ion-ios7-sunny-outline"></i>
        <input type="range" name="volume" min="0" max="100" value="63">
        <i class="icon ion-ios7-sunny"></i>
      </div>
      <label class="item item-input item-select">
        <div class="input-label">
          Color
        </div>
        <select>
          <option selected>Blue</option>
          <option>Green</option>
          <option>Red</option>
        </select>
      </label>

      <div class="item item-divider">Temperature</div>
      <ion-item class="item-toggle"> Mode: {{tempMode()}}
        <label class="toggle">
          <input type="checkbox" ng-model="thermostat.isHeating" ng-change="thermoModeChange()">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>
      <ion-item>
        Temprature: <span class="badge">{{thermostat.temp}} &deg;F</span>
      </ion-item>
      <div class="item range range-positive">
        <i class="icon ion-ios7-rainy-outline"></i>
        <input type="range" name="volume" min="60" max="90" ng-model="thermostat.temp" ng-change="thermoTempChange()">
        <i class="icon ion-ios7-sunny"></i>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
