
<ion-view view-title="Stress Q/A">
  <ion-content>
    <ion-list>





  <div class-"item item-divider">
      During the past week or so, I have...
  </div>


  <li class="item item-checkbox">
     <label class="checkbox">
       <input name="q1" value="{{stress.value}}" type="checkbox">
     </label>
     {{stress.question}}
  </li>

  <li class="item item-checkbox">
     <label class="checkbox">
       <input name="q1" value="{{stress.value}}" type="checkbox">
     </label>
     {{stress.question}}
  </li>

  <li class="item item-checkbox">
     <label class="checkbox">
       <input name="q1" value="{{stress.value}}" type="checkbox">
     </label>
     {{stress.question}}
  </li>


  <li class="item item-checkbox">
     <label class="checkbox">
       <input name="q1" value="{{stress.value}}" type="checkbox">
     </label>
     {{stress.question}}
  </li>

  <li class="item item-checkbox">
     <label class="checkbox">
       <input name="q1" value="{{stress.value}}" type="checkbox">
     </label>
     {{stress.question}}
  </li>

  <li class="item item-checkbox">
     <label class="checkbox">
       <input name="q1" value="{{stress.value}}" type="checkbox">
     </label>
     {{stress.question}}
  </li>

  <li class="item item-checkbox">
     <label class="checkbox">
       <input name="q1" value="{{stress.value}}" type="checkbox">
     </label>
     {{stress.question}}
  </li>

  <li class="item item-checkbox">
     <label class="checkbox">
       <input name="q1" value="{{stress.value}}" type="checkbox">
     </label>
     {{stress.question}}
  </li>


  <a class="button button-block" href="#/tab/stress/Questions/GO"> Next </a>

</ul>


      <!--ion-item class="item-avatar" ng-repeat="str in stress" type="item-text-wrap" href="#/tab/stress/{{str.id}}"-->
 <!-- 	</br>
 	<h3>During the past week or so, I have...</h3>
 	</br>
 	<form>
     <h4 >1. {{stress.question}}</h4>
       <input type="radio" >{{stress.option1}}</br>
       <input  type="radio" name="q1" value={{stress.value}}>{{stress.option2}}</br>
       
       <h4 >2. {{stress1.question}}</h4>
       <input   type="radio" name="q2" value={{stress1.value}}>{{stress1.option1}}</br>
       <input   type="radio" name="q2" value={{stress1.value}}>{{stress1.option2}}</br>
        
        <h4 >3. {{stress2.question}}</h4>
       <input type="radio" name="q3" value={{stress2.value}}>{{stress2.option1}}</br>
       <input  type="radio" name="q3" value={{stress2.value}}>{{stress2.option2}}</br>
       
       <h4 >4. {{stress3.question}}</h4>
       <input   type="radio" name="q4" value={{stress3.value}}>{{stress3.option1}}</br>
       <input   type="radio" name="q4" value={{stress3.value}}>{{stress3.option2}}</br>
       
       <h4 >5. {{stress4.question}}</h4>
       <input type="radio" name="q5" value={{stress4.value}}>{{stress4.option1}}</br>
       <input  type="radio" name="q5" value={{stress4.value}}>{{stress4.option2}}</br>
       
       <h4 >6. {{stress5.question}}</h4>
       <input   type="radio" name="q6" value={{stress5.value}}>{{stress5.option1}}</br>
       <input   type="radio" name="q6" value={{stress5.value}}>{{stress5.option2}}</br>
       
       <h4 >7. {{stress6.question}}</h4>
       <input type="radio" name="q7" value={{stress6.value}}>{{stress6.option1}}</br>
       <input  type="radio" name="q7" value={{stress6.value}}>{{stress6.option2}}</br>
       
     
      <center>
      <br/>
      <button  class="button button-assertive" type="button"  onclick="window.location.href='#/tab/stress/Questions/GO'">Submit</button>
      </center>
      </form> -->
    </ion-list>
  </ion-content>
</ion-view>



<!--ion-view view-title="Stress Q/A">
  <ion-content class="has-header">
	  <div class="list">

		  <label class="item item-radio">
		    <input type="radio" name="group">
		    <div class="item-content">
		      Go
		    </div>
		    <i class="radio-icon ion-checkmark"></i>
		  </label>
		</div>

    </ion-content>
</ion-view-->



<!--ion-view title="Health Monitor">
  <ion-content class="has-header">
<div class="list">

		  <label class="item item-radio">
		    <input type="radio" name="group">
		    <div class="item-content">
		      Go
		    </div>
		    <i class="radio-icon ion-checkmark"></i>
		  </label>
		</div>        </ion-content>
</ion-view-->
