<ion-view view-title="Medication">
  <ion-content>


    <ion-list>


      <a class="item item-thumbnail-left" ng-repeat="medication in medications" type="item-text-wrap" href="#/tab/medication/{{medication._id}}" >
        <img ng-src="http://placehold.it/100x100">
        <h2>{{medication.drugName}}</h2>
        <p>{{medication.instructions}}</p>
      </a>

    </ion-list>



  </ion-content>

  <ion-footer-bar align-title="right" >
    <button id="circleButton" ng-click="openModal()" class="button button-assertive icon-left ion-plus pull-right button-circle"></button>
  </ion-footer-bar>

</ion-view>
