<ion-view view-title="Dashboard">
    



  <ion-content class="padding">

    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>

    <div class="row">
      <img class="col col-20" src="http://placehold.it/80x80"> </img>
      <h2 class="col col-80"> Hi, {{user.info.first}} </h2>
    </div>

    <ion-list can-swipe="true">

      <ion-item  class="list card" ng-repeat="event in timeLine track by $index" ng-if="event.eventType==='dialysis'">


        <div>
          <div class="item item-avatar">
            <img src="http://placehold.it/100x100">
            <h2> You have a dialysis treatment scheduled for today</h2>
            <h3>{getDateString(event.time)}</h3>
            <h3>{{event.notes}}</h3>

          </div>

          <ion-option-button class="button-positive"> Dismiss </ion-option-button>
          <ion-option-button class="button-info"> Edit </ion-option-button>
          <ion-delete-button class="ion-minus-circled" ng-click="items.splice($index, 1)">
          </ion-delete-button>
          <ion-reorder-button class="ion-navicon" on-reorder="reorderItem(item, $fromIndex, $toIndex)">
          </ion-reorder-button>
        </div>


      </ion-item>


    </ion-list>





  </ion-content>

    <ion-footer-bar align-title="right" >
      <button id="circleButton" ng-click="openEventModal()" class="button button-assertive icon-left ion-plus pull-right button-circle"></button>
    </ion-footer-bar>
  
</ion-view>


