<ion-view view-title="Stress Management ">
  <ion-content class="has-header">
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  
  	<p style="text-align:center;"><font color="green" size = "6">Good News! You're not stressed</font></p>
  	<br/>
  	<br/>
  	<center>
  <h5>Stress Events 11</h5>
  <h5>Relaxed Events 55</h5>
  <h5>Steady Events 66</h5>
  <h5>Final Score 89</h5>
  </center>
  <br/>
  <br/>
  
  <form>
<center>
<input class="button button-assertive" type="button" value="De-stress" onclick="window.location.href='#/tab/stress/Questions/GO/discovery/wait'" />
</center>
</form>
  
  	  </ion-content>
</ion-view>

