<ion-view view-title="Medication">
  <ion-content>


    <ion-list>


      <a class="item" ng-repeat="medication in medications" type="item-text-wrap" href="#/tab/medication/{{medication._id}}" >
        <h2>{{medication.drugDetails.openfda.brand_name[0]}}</h2>
        <h3>{{medication.drugDetails.openfda.generic_name[0]}}</h3>

        <p>{{medication.instructions}}</p>
      </a>

    </ion-list>



  </ion-content>

  <ion-footer-bar align-title="right" >
    <button id="circleButton" ng-click="openModal()" class="button button-assertive icon-left ion-plus pull-right button-circle"></button>
  </ion-footer-bar>

</ion-view>
