<ion-view view-title="PIP Results">
  <ion-content class="has-header">
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  
  	<p style="text-align:center;"><font color="black" size = "6">RESULTS</font></p>
  	<br/>
  	<br/>
  	<center>
  	<div id="StressEvents"></div>
  	<div id="RelaxedEvents"></div>
  	<div id="SteadyEvents"></div>
  	<div id="FinalScore"></div>
  </center>
  <br/>
  <br/>
  
  <form>
<center>
<a class="button button-block" href="#/tab/stress/Questions/GO/discovery/wait/status/destress	"> <font size="5">De-stress</font></a>

</center>
</form>
  
  	  </ion-content>
</ion-view>

