<ion-view view-title="Stress Management ">
  <ion-content class="has-header">
  <br/>
  <br/>
  <center>
  <h3>Instructions</h3>
	<ul type="square">
		<li>1. Connect PIP to your android device</li>
		<li>2. Hold the PIP between your thumb and index finger</li>
		<li>3. Wait for 10 seconds until connection is established</li>
		<li>4. After successful connection,proceed to next page</li>
	</ul>
   </center>
<br/>
<br/>
  	 	<form>
<center>
<input class="button button-assertive" type="button" value="Proceed to next page" onclick="window.location.href='#/tab/stress/Questions/GO/discovery/wait'" />
</center>
</form>
  	<br/>
  	<br/>
  	
  	
  	<form>
  	  </ion-content>
</ion-view>

