<ion-view view-title="Coach">
  <ion-content>

    <ion-list>

    
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <form novalidate class="simple-form">
            <input type="text" placeholder="Search"  value="{{speech.currentText}}">
          </form>
        </label>

        <button ng-click="speechButtonClicked()" class="button icon-left {{speech.speech.listening?'ion-stop':'ion-android-microphone'}}">
            {{speech.listening?'Stop':'Listen'}}
        </button>


      </div>



      <ion-item class="item-avatar" ng-repeat="resource in resources" type="item-text-wrap" href="#/tab/coach/{{resource._id}}">

      <h2><b> {{ resource.data.title }}</b></h2>

        <h2><b> {{ resource.type }} {{resource.data.code}} </b> </h2> 
        <p>{{resource.description}}</p>


      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>


