<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">


  <!-- Dashboard Tab -->
  <ion-tab title="Status" icon-off="ion-ios7-pulse-strong" icon-on="ion-ios7-pulse-strong" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>


  <!-- Chats Tab -->
  <ion-tab title="Chats" icon-off="ion-ios7-chatboxes" icon-on="ion-ios7-chatboxes" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- Friends Tab -->
  <ion-tab title="Contacts" icon-off="ion-ios7-people" icon-on="ion-ios7-people" href="#/tab/friends">
    <ion-nav-view name="tab-friends"></ion-nav-view>
  </ion-tab>


  <!-- Medication Tab -->
  <ion-tab title="Medication" icon-off="ion-medkit" icon-on="ion-medkit" href="#/tab/medication">
    <ion-nav-view name="tab-medication"></ion-nav-view>
  </ion-tab>
  

  <!-- Virtual Coatch Tab -->
  <ion-tab title="Coach" icon-off="ion-help-circled" icon-on="ion-help-circled" href="#/tab/coach">
    <ion-nav-view name="tab-coach"></ion-nav-view>
  </ion-tab>


  <!-- Account Tab -->
  <ion-tab title="Home" icon-off="ion-ios7-home" icon-on="ion-ios7-home" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <!--Settings Tab-->
  <ion-tab title="Settings" icon-off="ion-ios7-settings" icon-on="ion-ios7-settings" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>

</ion-tabs>
